html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    min-width: 350px;
}

.app-nav {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 1.625rem;
}

.search-box {
    position: relative;
    width: 100%;
    max-width: 162px;
    height: 30px;
    margin-left: auto;
}

.search-box input:focus + svg {
    color: var(--gray);
}

.search-box svg {
    width: 11px;
    height: 11px;
    fill: white;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.search-box input {
    height: 100%;
    background: var(--dark);
    border: 1px solid var(--dark);
    color: inherit;
    padding: 0 0 0 30px;
    border-radius: 5px;
}

.main {
    display: flex;
    flex-direction: row;
}

#banner {
    flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 480px;
}

#page {
    flex: 0 0 100%;
    max-width: 900px;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
}